

.shop-box{
    font-size:0.24rem;
	width:100%; height:100%;
    overflow-y: auto;
	.shop-top{
		width:100%; height: 3.76rem;
		.shop-top-T{
		    width:100%; height:1.16rem;
		    background:url(../images/bj.jpg) repeat-x;
		    a{
		        font-size:19px;
		        color:#fff;
		        display:block;
		        width:0.18rem;
		    };
		    .shop-top-imgbox{
                width:100%; height:1.1rem;
                display:flex;
                justify-content: center;
                img{
                    width:1.1rem; height:100%;
                }
            };
            .shop-top-p{
                text-align:center;
                font-size:0.20rem;
                color:#333;
                line-height: 0.4rem;
                .pp1{
                    line-height:0.6rem;
                    .p-sp2{
                        font-size:0.32rem;
                    }
                };
                .pp3{
                    color : #999;
                    width:100%; white-space: nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                };
                .pp4{
                    color : #999;
                    border:1px solid #999;
                    display:inline-block;
                    .sd{
                        display:inline-block;
                        background:#70bc46;
                        text-align:center;
                        line-height: 0.14rem;
                        color : #fff;
                        font-size:0.09rem;
                    }
                };
            }
		}
	};
    .shop-center-bottom{
        width:100%;
        .shop-center{
            width:100%; height:0.6rem;
            display:flex;
            border-bottom:0.01rem solid #e5e5e5;
            /*position:fixed;*/
            li{
                text-align: center;
                line-height: 0.6rem;
                width:33.33333%; height:100%;
                .spans{
                    display:inline-block;
                    height:100%;
                    border-bottom:0.04rem solid #2395ff;
                };
            };
        };
        .shop-bottom{
            width:100%; 
            /*height:100%;*/
            .shop-bottom-dc{
                width:100%; 
                /*height:100%;*/
                display:flex;
                .shop-bottom-dc-lf{
                    width:1.32rem; 
                    /*height:100%;*/
                    overflow-y:auto;
                    ul{
                        width:100%; height:100%;
                        overflow-y:auto;
                        li{
                            width:100%; height:0.84rem;
                            border-top:0.02rem solid #eee;
                            font-size:0.2rem;
                            text-align: center;
                            line-height:0.84rem;
                        }
                    };
                    .shop-botton-shop{
                        width:100%; height:0.8rem;
                        background:#505051;
                        position:fixed;
                        left:0; bottom:0;
                        display:flex;
                        flex:6;
                        div{
                            height:100%;
                            flex:1;
                            .shoping{
                                width:0.7rem; height:0.7rem;
                                border-radius:50%;
                                display:inline-block;
                                background:#363636;
                                position:absolute;
                                left:0.2rem; top:-0.25rem;
                                line-height: 0.4rem;
                                text-align:center;
                                border:0.1rem solid #444;
                                i{
                                    font-size:0.4rem;
                                    color:#5f5f63;
                                }
                            }
                        }
                        .ps{
                                height:100%;
                                flex:3;
                                color:#ffffde;
                                font-size:0.22;
                                span{
                                    display:block;
                                }
                                .psf{
                                    color:#999;

                                }
                        }
                        .qs{
                            height:100%;
                            flex:2;
                            color:#ffffde;
                            font-size:0.22;
                            line-height: 0.8rem;
                        }
                }
                };
                .shop-bottom-dc-rgh{
                    overflow-y:auto;
                    flex:1;
                    padding-left:0.2rem;
                    p{
                        width:100%; height:0.5rem;
                        line-height: 0.5rem;
                        border-bottom: 0.02rem solid #f2f2f2;
                        font-size:0.2rem;
                        span{
                            font-size:0.18rem;
                            margin-right:0.2rem;
                        }
                    }
                    dl{
                        width:100%;
                        display:flex;
                        margin-bottom:0.4rem;
                        dt{
                            width:1.3rem; height:1.3rem;
                            margin-right:0.2rem;
                            img{
                                width:1.3rem; height:1.3rem;
                            }
                        }
                        dd{
                            flex:1;
                            ul{
                                height:100%;
                                li{
                                    height:0.3rem;
                                    line-height: 0.3rem;
                                    font-size:0.16rem;
                                    color:#a59fa5;
                                    span{
                                        display:inline-block;
                                        float:right;
                                        width:0.4rem; height:0.4rem;
                                        text-align:center;
                                        line-height: 0.4rem;
                                        background:#2395ff;
                                        color:#fff;
                                        border-radius:0.2rem;
                                        margin-right:0.2rem;
                                    }
                                }
                                .ul_li1{
                                    font-size:0.26rem;
                                    color:#333;
                                }
                                .ul_li4{
                                    color:#ff6600;
                                    font-size:0.2rem;
                                }
                            }
                        }
                    }
                }
            };
        };
    }
};
.shop-box::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
}
